.app-name {
  
        display: block;
        font-size: 2.5em;
        margin-top: 0.50em;
        margin-bottom: 0.80em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      

}