.table-head {
    background: black;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: white;
}
.table-body {
    border: 1px dotted black;
    padding: 10px;
    text-align: center;
    background-color: rgb(250, 242, 242);
}

.title-name {
        display: block;
        font-size: 2.5em;
        margin-top: 0.67em;
        margin-bottom: 0.50em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
}
.my-icon {
        width: 20px;
        height: 20px;
}
.text-box {
    background-color: rgb(255, 250, 250);
    width: 450px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.ModalHeader {
    width: 70px;
}