body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background: white;
  color: red;
  
}

.text-title {
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: blue;
}
.text-bright{
  color: lightblue;
}